/* Cookie Notice */

$vc-cookie-notice-display: flex;
$vc-cookie-notice-position: fixed;
$vc-cookie-notice-top: auto;
$vc-cookie-notice-right: rem(15px);
$vc-cookie-notice-bottom: rem(15px);
$vc-cookie-notice-left: auto;
$vc-cookie-notice-z-index: 999;
$vc-cookie-notice-width: 100%;
$vc-cookie-notice-max-with: rem(850px);
$vc-cookie-notice-padding: rem(20px);
$vc-cookie-notice-border-radius: rem(4px);
$vc-cookie-notice-background: theme-color(light);
$vc-cookie-notice-box-shadow: 0 0 rem(15px) rgba(0, 0, 0, 0.1);

:root {
  --vc-cookie-notice-display: #{$vc-cookie-notice-display};
  --vc-cookie-notice-position: #{$vc-cookie-notice-position};
  --vc-cookie-notice-top: #{$vc-cookie-notice-top};
  --vc-cookie-notice-right: #{$vc-cookie-notice-right};
  --vc-cookie-notice-bottom: #{$vc-cookie-notice-bottom};
  --vc-cookie-notice-left: #{$vc-cookie-notice-left};
  --vc-cookie-notice-z-index: #{$vc-cookie-notice-z-index};
  --vc-cookie-notice-width: #{$vc-cookie-notice-width};
  --vc-cookie-notice-max-with: #{$vc-cookie-notice-max-with};
  --vc-cookie-notice-padding: #{$vc-cookie-notice-padding};
  --vc-cookie-notice-border-radius: #{$vc-cookie-notice-border-radius};
  --vc-cookie-notice-background: #{$vc-cookie-notice-background};
  --vc-cookie-notice-box-shadow: #{$vc-cookie-notice-box-shadow};
}

.cookie-notice {
  display: block;
  position: var(--vc-cookie-notice-position);
  top: var(--vc-cookie-notice-top);
  right: var(--vc-cookie-notice-right);
  bottom: var(--vc-cookie-notice-bottom);
  left: var(--vc-cookie-notice-left);
  z-index: var(--vc-cookie-notice-z-index);
  width: var(--vc-cookie-notice-width);
  max-width: var(--vc-cookie-notice-max-with);
  padding: var(--vc-cookie-notice-padding);
  background-color: var(--vc-cookie-notice-background);
  border-radius: var(--vc-cookie-notice-border-radius);
  box-shadow: var(--vc-cookie-notice-box-shadow);

  &__content { margin-bottom: rem(20px); }

  &__btngroup {
    display: flex;
    flex-shrink: 0;

    button { margin-right: rem(20px); }
  }

  &__form {
    margin-bottom: rem(20px);

    label {
      cursor: pointer;
    }
  }

  button {
    cursor: pointer;
  }
}
