$default-font-size: 16px;
$transition-base: all 0.15s ease-in-out;
$line-height-base: 1.2;

// Body

$body-bg: gray-color(200);
$body-color: theme-color(dark);

// Default font stack (used on <body>)
$font-family-sans-serif: 'Arial', sans-serif;

// Headings
$headings-margin-bottom: 0.5em;
$headings-font-family: $font-family-sans-serif;
$headings-font-weight: bold;
$headings-line-height: 1.1;
$headings-color: theme-color(primary);
